body{
background-color: #ddd;
}
.main-con{
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.main-con2{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.officialReceipt-con{
    border: solid 1px black;
    padding: 0.5%;
    background-color: white;
    width: 9.5in;
    height: 4.8in;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    display: flex;
    gap: 5px;
}
.row-1{
    width:40%;
}
.officialReceipt-btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap:20px;
}

table{
  font-size: 73%;
  border-collapse: collapse;
  font-weight: bolder;
}
td{

}

#amt{

}

.amt-r1{
  width: 51%;

}

.amt-r3{
  width: 5px;
}




.row-2{
   width:100%;

   display: flex;
   flex-direction: column;
}

.r2-header{
    margin-bottom: 30px;
}
.r2-body{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    gap: 5px;
}



.r2-body .con{
width: 100%;

  display: flex;
  align-items: center;
}
.r2-body .con label{
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    align-items: center;
}
.r2-body .con input{
    align-items: center;
    flex-grow: 1;
    text-align: center;
    outline: none;
    box-shadow: none;
    padding: 0 0 0 5px;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-weight: bolder;
}

#inp-1{

}

#hdate{

    display: flex;
    justify-content: space-between;
}


.r2-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.r2-footer input{
    margin-right: 30px;
    justify-content: center;
    text-align: center;
    outline: none;
    box-shadow: none;
    padding: 0 0 0 5px;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-weight: bolder;
    font-style: italic;
}

#supp-details{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
#supp-name{
     margin: 0;
     font-size: 25px;
     font-weight: bolder;
}
#supp-addrs{
     margin: 0;
     font-size: 8px;
     width: 80%;
     text-align: center;
}

#supp-tin{
     font-size: 8px;
}

table td input{
    font-size: 10px;
    text-align: center;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding:0;
    border: 0;
}

.h-input{
    text-align: center;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding:0;
    border: 0;
}

@media print {
  button, a {
    display: none !important;
  }
}